USE [master]
GO
/****** Object:  Database [db-catalogoproducto]    Script Date: 4/10/2025 3:38:15 PM ******/
CREATE DATABASE [db-catalogoproducto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db-catalogoproducto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db-catalogoproducto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db-catalogoproducto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db-catalogoproducto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db-catalogoproducto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db-catalogoproducto]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 4/10/2025 3:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[imagen] [nvarchar](255) NULL,
	[precioBase] [decimal](10, 2) NOT NULL,
	[precioConDescuento] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([idProducto], [nombre], [descripcion], [imagen], [precioBase], [precioConDescuento]) VALUES (1, N'Martillo', N'Martillo con mango metalico', N'martillo.png', CAST(35.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[producto] ([idProducto], [nombre], [descripcion], [imagen], [precioBase], [precioConDescuento]) VALUES (3, N'Pintura acrilica', N'Pintura acrilica de secado rapido', N'pintura.png', CAST(10.50 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD CHECK  (([precioBase]>(0)))
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD CHECK  (([precioConDescuento]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProducto]    Script Date: 4/10/2025 3:38:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarProducto]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(500),
    @Imagen NVARCHAR(255),
    @PrecioBase DECIMAL(10,2),
    @PrecioConDescuento DECIMAL(10,2) = NULL
AS
BEGIN
    IF @PrecioBase <= 0
    BEGIN
        RAISERROR('El precio base debe ser mayor que cero.', 16, 1);
        RETURN;
    END

    IF @PrecioConDescuento IS NOT NULL AND @PrecioConDescuento <= 0
    BEGIN
        RAISERROR('El precio con descuento debe ser mayor que cero.', 16, 1);
        RETURN;
    END

    UPDATE producto
    SET nombre = @Nombre,
        descripcion = @Descripcion,
        imagen = @Imagen,
        precioBase = @PrecioBase,
        precioConDescuento = @PrecioConDescuento
    WHERE idProducto = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProducto]    Script Date: 4/10/2025 3:38:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarProducto]
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(500),
    @Imagen NVARCHAR(255),
    @PrecioBase DECIMAL(10,2),
    @PrecioConDescuento DECIMAL(10,2) = NULL
AS
BEGIN
    IF @PrecioBase <= 0
    BEGIN
        RAISERROR('El precio base debe ser mayor que cero.', 16, 1);
        RETURN;
    END

    IF @PrecioConDescuento IS NOT NULL AND @PrecioConDescuento <= 0
    BEGIN
        RAISERROR('El precio con descuento debe ser mayor que cero.', 16, 1);
        RETURN;
    END

    INSERT INTO producto (nombre, descripcion, imagen, precioBase, precioConDescuento)
    VALUES (@Nombre, @Descripcion, @Imagen, @PrecioBase, @PrecioConDescuento);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 4/10/2025 3:38:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
    @Id INT
AS
BEGIN
    DELETE FROM producto
    WHERE idProducto = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProductoPorId]    Script Date: 4/10/2025 3:38:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerProductoPorId]
	@Id INT
AS
BEGIN
    SELECT 
        idProducto, 
        nombre, 
        descripcion, 
        imagen, 
        precioBase, 
        precioConDescuento
    FROM producto
	WHERE idProducto = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProductos]    Script Date: 4/10/2025 3:38:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerProductos]
AS
BEGIN
    SELECT 
        idProducto, 
        nombre, 
        descripcion, 
        imagen, 
        precioBase, 
        precioConDescuento
    FROM producto;
END;
GO
USE [master]
GO
